<h1 class="title-header">Test Pokemon App</h1>
<div class="filter">
  <p>Filter Type Pokemon</p>
  <nz-select
    nzShowSearch
    nzAllowClear
    nzPlaceHolder="Select type"
    [(ngModel)]="data.selectedType"
    (ngModelChange)="onSearch($event)"
  >
    @for(item of data.listType; track item.id) {
    <nz-option [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
    }
  </nz-select>
</div>

<nz-table
  [nzData]="data.list"
  [nzShowPagination]="false"
  (nzQueryParams)="onQueryParamsChange($event, 'sort')"
  [nzScroll]="{ y: '60vh', x: '900px' }"
  style="min-height: 70vh"
>
  <thead>
    <tr>
      @for(header of tableHeader; track header.title) {
      <th
        [nzSortFn]="true"
        [nzSortOrder]="header?.sortOrder || null"
        [nzColumnKey]="header.title"
        [nzShowSort]="header.sort"
        [id]="header.title"
      >
        {{ header.title }}
      </th>
      }
    </tr>
  </thead>
  <tbody>
    @for(item of data.list; track item.id) {
    <tr>
      <td>{{ item.number }}</td>
      <td>
        <a (click)="showDetail(item.id)">
          {{ item.name }}
        </a>
      </td>
      <td>{{ convertType(item.type_1, item.type_2) }}</td>
      <td>{{ item.total }}</td>
      <td>{{ item.hp }}</td>
      <td>{{ item.attack }}</td>
      <td>{{ item.defense }}</td>
      <td>{{ item.sp_atk }}</td>
      <td>{{ item.sp_def }}</td>
      <td>{{ item.speed }}</td>
    </tr>
    }
  </tbody>
</nz-table>
<nz-pagination
  [nzPageSize]="data.param.pageSize || 10"
  [nzPageIndex]="data.param.pageNumber || 1"
  [nzShowSizeChanger]="true"
  [nzTotal]="data.param.totalElements || 0"
  (nzPageIndexChange)="onQueryParamsChange($event, 'page')"
  [nzPageSizeOptions]="[10, 20, 30, 40, 50, 100]"
  (nzPageSizeChange)="onQueryParamsChange($event, 'size')"
>
</nz-pagination>

<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Pokemon Card"
  [nzCloseIcon]="''"
  [nzWidth]="'400px'"
>
  <ng-container *nzModalContent>
    <div class="pokemon-card">
      <div class="container-top">
        <h3 class="pokemon-name">
          {{ data.pokemonDetail.name }}
        </h3>
        <div class="background">
          <img [src]="data.imageUrl" alt="pokemon" class="image" />
        </div>
        <span class="pokemon-hp">
          {{ "HP : " + data.pokemonDetail.hp }}
        </span>
      </div>
      <div class="content">
        <div class="pokemon-type-container">
          <span class="pokemon-type">
            {{
              convertType(data.pokemonDetail.type_1, data.pokemonDetail.type_2)
            }}
          </span>
        </div>
        <div class="pokemon-stats">
          <p>{{ "Attack : " + data.pokemonDetail.attack }}</p>
          <p>{{ "Defense : " + data.pokemonDetail.defense }}</p>
          <p>{{ "Speed : " + data.pokemonDetail.speed }}</p>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *nzModalFooter>
    <div>
      <button
        nz-button
        nzType="default"
        nzShape="round"
        (click)="isVisible = false"
      >
        {{ "Close" }}
      </button>
    </div>
  </ng-container>
</nz-modal>
<div class="footer">App Test ©2024 Implement By Tan Huynh</div>
